@import "tailwindcss";

@theme {
  --breakpoint-xs: 31.25rem;
  --background-image-play-gradient: linear-gradient(to bottom, rgb(254, 113, 254), rgb(36, 98, 255));
  --color-glass-blue: rgb(43 91 169 / 0.6);
  --color-glass-button: rgb(100 162 255 / 0.7);
  --shadow-glass-inset: inset 0 2px 10px rgb(255 255 255 / 0.3);
}
