@import "tailwindcss";

.slide-left {
  transform: translateX(-100vw);
}

.slide-up {
  transform: translateY(-100vh);
}

.fade-in {
  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}

.bg-letter {
  background-color: rgb(36 99 255 / 0.4);
  border-bottom: 3px solid rgb(38 22 118);
  padding: 0.5rem 1rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  transform-style: preserve-3d;
  transition:
    transform 0.7s ease-in,
    background-color 0.5s ease;
}

.correct-letter-rotate {
  background-color: rgb(36 99 255 / 0.9);
  transform: rotateY(180deg);
}

@theme {
  --breakpoint-xs: 31.25rem;
  --background-image-play-gradient: linear-gradient(to bottom, rgb(254, 113, 254), rgb(36, 98, 255));
  --color-glass-blue: rgb(43 91 169 / 0.6);
  --color-glass-button: rgb(100 162 255 / 0.7);
  --shadow-glass-inset: inset 0 2px 10px rgb(255 255 255 / 0.3);
  --justify-start: justify-content: center;
}
